{#
 # This file is part of the Inwicast plugin for Claroline Connect.
 #
 # (c) INWICAST <dev@inwicast.com>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'packages' | trans({}, 'platform') | striptags | raw }}
{{' - ' ~ 'inwicastclarolineplugin' | trans({}, 'plugin_description') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'packages'|trans({}, 'platform'),
                'href': path('claro_admin_open_tool', {'toolName': 'platform_packages'})
            },
            {
                'name': 'inwicastclarolineplugin'|trans({}, 'plugin_description'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{'inwicastclarolineplugin' | trans({}, 'plugin_description') }}</h3>
    </div>
    <form action="{{path('inwicast_claroline_widget')}}" method="POST">
        <div class="panel-body">
            {% if error != null %}
            <div class="alert alert-{{ error.type }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ error.title|trans({}, 'widget') }}</strong> {{ error.content|trans({}, 'widget') }}
            </div>
            {% endif %}
            <div class="row">
                <label for="link" class="control-label col-md-3 required">
                    {{ 'inwicast_mediacenter_url'|trans({}, 'widget')}}:
                </label>
                <div class="col-md-9">
                    <input class="form-control" type="url" id="inwicast_mediacenter_url" name="inwicast_mediacenter_url" value="{{ mediacenter.url }}" required/>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input class="btn btn-success" type="submit" id="inwicast_mediacenter_submit" value="{{ 'validate'|trans({}, 'widget') }}" />
            <a href="{{ path('claro_admin_open_tool', {'toolName': 'platform_packages'}) }}" class="btn btn-default btn-danger">{{ 'cancel'|trans({}, 'platform') }}</a>
        </div>
    </form>
{% endblock %}