{#
 # This file is part of the Inwicast plugin for Claroline Connect.
 #
 # (c) INWICAST <dev@inwicast.com>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% if error != null %}
<div class="alert alert-{{ error.type }} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{ error.title|trans({}, 'widget') }}</strong> {{ error.content|trans({}, 'widget') }}
</div>
{% endif %}
<p>
	<h3 class="panel-title">{{ 'login_mediacenter'|trans({}, 'widget') }}</h3>
</p>
<form action="{{ path('inwicast_claroline_plugin', {'widget': widget.getId()}) }}" method="post">
    <div class="form-group">
        <label for="inwicast_widget_username">{{ 'username'|trans({}, 'widget') }}</label>
        <input type="text" class="form-control" id="inwicast_widget_username" name="inwicast_widget_username" placeholder="{{ 'username'|trans({}, 'widget') }}" tabindex="1" autofocus="" required>
    </div>
    <div class="form-group">
        <label for="inwicast_widget_password">
            {{ 'password'|trans({}, 'widget') }}
            <small>
                <a href="{{ mediacenter.url ~ "?option=com_users&view=reset" }}" target="_blank" tabindex="4">({{ 'forgot_password'|trans({}, 'widget') }})</a>
            </small>
        </label>
        <input type="password" class="form-control" id="inwicast_widget_password" name="inwicast_widget_password" placeholder="{{ 'password'|trans({}, 'widget') }}" tabindex="2" required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" tabindex="3">{{ 'login'|trans({}, 'widget') }}</button>
</form>