{#
 # This file is part of the Inwicast plugin for Claroline Connect.
 #
 # (c) INWICAST <dev@inwicast.com>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
 
<div class="video-wrap" style="display: block; width: 100%; height: auto; position: relative; margin: auto;">
	{# Hack to have a responsive designed iframe: add a transparent image having player ratio #}
	<img style="display: block; width: 100%; height: auto;" class="iframe-ratio" src="data:image/png;base64,{{ render(controller("InwicastClarolinePluginBundle:ClarolinePlugin:image", { 'width': media.width, 'height': media.height } )) }}"/>
	<iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="{{ mediacenter.url ~ "videos/?video=" ~ media.code }}" width='{{ media.width }}px' height='{{ media.height }}px' frameborder='0' scrolling='no' marginwidth='0' marginheight='0' allowfullscreen='true' webkitallowfullscreen='true' mozallowfullscreen='true' >
		<p>Votre navigateur ne supporte pas les iframes.</p>
	</iframe>
</div>
